/* #grad {
    background-color:  rgba(255, 255, 255, 0.5);
    background-image: url( https://64.media.tumblr.com/b06639f7e88e9744695e5e889c466373/0e9ce0799c6a094f-b1/s500x750/0d4498001d8bfb6c81105f11413ff9a38b6eef81.gifv);
    min-height: 10vh;
} */

.dark {
    background-color: black
}

.social-network {
    padding: 0;
    margin: 0;
}