#img-bg-interior{
    background-image: url('https://i.imgur.com/YGhCyR5.png');
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.principal{
    padding-top: 80px;
    padding-bottom: 80px;
}

hr{
    margin: 0;
    padding: 0;
}

.ic-menu{
    border-radius: 15px 15px;
    background-color: rgba(255, 255, 255, 0.71)!important;    
}

.ic-menu-1{
    border-radius: 15px 15px 0 0;
    background-color: rgba(13, 110, 153, 0.71)!important;    
}
.ic-menu-2{
    border-radius: 15px 15px 0 0;
    background-color: rgba(254 , 55, 69, 0.71)!important;    
}
.ic-menu-3{
    border-radius: 15px 15px 0 0;
    background-color: rgba(255, 208, 13, 0.71)!important;    
}
.ic-menu-4{
    border-radius: 15px 15px 0 0;
    background-color: rgba(255, 149, 24, 0.71)!important;    
}
.ic-menu-5{
    border-radius: 15px 15px 0 0;
    background-color: rgba(105, 205, 255, 0.71)!important;    
}

.ic-menu2-1{
    border-radius: 0 0 15px 15px;
    background-color: rgba(13, 110, 153, 0.71)!important;    
}
.ic-menu2-2{
    border-radius: 0 0 15px 15px;
    background-color: rgba(254 , 55, 69, 0.71)!important;    
}
.ic-menu2-3{
    border-radius: 0 0 15px 15px;
    background-color: rgba(255, 208, 13, 0.71)
}
.ic-menu2-4{
    border-radius: 0 0 15px 15px;
    background-color: rgba(255, 149, 24, 0.71)!important;    
}
.ic-menu2-5{
    border-radius: 0 0 15px 15px;
    background-color: rgba(105, 205, 255, 0.71)!important;    
}

.ic-menu3{
    border-radius: 0 0 15px 15px;
    background-color: rgba(71, 68, 68, 0.71)!important;    
}

.foto-usuario{
    border: 4px solid rgba(255, 255, 255, 0.459);
}

p{
    margin: 0;
    padding: 0;
}

.menu-button{
    width: 200px;
    height: 50px;
    justify-content: center;
}

.bt-ed-1{
    background: #0D6E99;
    font-weight: bold;
    color:#1A2B63;
    font-size: large;
    border-radius: 32px;
    border: 1px solid gray;
}
.bt-ed-1:hover{
    color: #0D6E99;
    background-color: #1A2B63;

    -webkit-box-shadow: 0px 0px 50px 10px #0D6E99; 
    box-shadow: 0px 0px 50px 10px #0D6E99;
}

.bt-ed-2{
    background:#FE3745;
    font-weight: bold;
    color:#B7092B;
    font-size: large;
    border-radius: 32px;
    border: 1px solid gray;
}
.bt-ed-2:hover{
    color: #FE3745;
    background-color: #B7092B;

    -webkit-box-shadow: 0px 0px 50px 10px #FE3745; 
    box-shadow: 0px 0px 50px 10px #FE3745;
}
.bt-ed-3{
    background:#FFD00D;
    font-weight: bold;
    color:#997c0a;
    font-size:large ;
    border-radius: 32px;
    border: 1px solid gray;
}
.bt-ed-3:hover{
    color: #FFD00D;
    background-color: #997c0a;

    -webkit-box-shadow: 0px 0px 50px 10px #FFD00D; 
    box-shadow: 0px 0px 50px 10px #FFD00D;
}
.bt-ed-4{
    background:#FF9518;
    font-weight: bold;
    color:#b15f02;
    font-size: large;
    border-radius: 32px;
    border: 1px solid gray;
}
.bt-ed-4:hover{
    color: #FF9518;
    background-color: #b15f02;

    -webkit-box-shadow: 0px 0px 50px 10px #FF9518; 
    box-shadow: 0px 0px 50px 10px #FF9518;
}
.bt-ed-5{
    background:#69CDFF;
    font-weight: bold;
    color:#0D6E99;
    font-size: large;
    border-radius: 32px;
    border: 1px solid gray;

}

.bt-ed-5:hover{
    color: #69CDFF;
    background-color: #0D6E99;

    -webkit-box-shadow: 0px 0px 50px 10px gray; 
    box-shadow: 0px 0px 50px 10px #69CDFF;
}

#texto{
    resize: none;
}

.br-32 {
    border-radius: 32px;
}

.btn-efeito{
    color: white;
    background-color: rgba(255, 255, 255, 0.37);;

    border-radius: 32px;
    border: 1px solid white;
}
.btn-efeito:hover{
    color: rgb(2, 0, 34);
    background-color: white;

    -webkit-box-shadow: 0px 0px 50px 10px rgba(218,166,255,0.28); 
    box-shadow: 0px 0px 50px 10px rgba(218,166,255,0.28);
}

.txt-titulo{
    color: black;
    font-size: larger;
    font-weight: bold;
}

.btn-efeito2{
    color: white;
    background-color: #0D6E99;;

    border-radius: 32px;
    border: 1px solid white;
}
.btn-efeito2:hover{
    color: rgb(2, 0, 34);
    background-color: #69CDFF;

    -webkit-box-shadow: 0px 0px 50px 10px rgba(218,166,255,0.28); 
    box-shadow: 0px 0px 50px 10px rgba(218,166,255,0.28);
}

.btn-efeito3{
    color: white;
    background-color:gray;

    border-radius: 32px;
    border: 1px solid white;
}
.btn-efeito3:hover{
    color: rgb(2, 0, 34);
    background-color: rgb(92, 91, 91);

    -webkit-box-shadow: 0px 0px 50px 10px rgba(218,166,255,0.28); 
    box-shadow: 0px 0px 50px 10px rgba(218,166,255,0.28);
}


.btn-efeito-todos{
    color: white;
    background-color: rgba(0, 0, 0, 0.911);;

    border-radius: 32px;
    border: 1px solid rgb(0, 0, 0);
}
.btn-efeito-todos:hover{
    color: rgb(2, 0, 34);
    background-color: white;

    -webkit-box-shadow: 0px 0px 50px 10px rgba(218,166,255,0.28); 
    box-shadow: 0px 0px 50px 10px rgba(218,166,255,0.28);
}

.largura-abas-postagens {
    min-width: 60rem;
}
