<div class="container-fluid">
   
    <div class="row d-flex align-items-center" id="img-bg-teste">
        
        <div class="col-sm-3">

            <div class="row d-flex justify-content-center px-5">

                <div class="ic-menu d-flex justify-content-center">

                    <div class="btn-group-vertical d-flex ">
                        <div class="w-auto p-3">
                            <button type="button" class="btn bt-ed-1">MATEMÁTICA</button>
                        </div>
                        <div class="w-auto p-3">
                            <button type="button" class="btn bt-ed-2">PORTUGUÊS</button>
                        </div>
                        <div class="w-auto p-3">
                            <button type="button" class="btn bt-ed-3">HISTÓRIA</button>
                        </div>
                        <div class="w-auto p-3">
                            <button type="button" class="btn bt-ed-4">GEOGRAFIA</button>
                        </div>
                        <div class="w-auto p-3 ">
                            <button type="button" class="btn bt-ed-5">CIÊNCIAS</button>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="col-sm-9 px-5 container">
            <div class="col-sm-10">
                <div class="row my-5 py-5 ic-menu d-flex justify-content-center">
                    <h1 class="mb-2">Que tal compartilhar algo que você aprendeu?</h1>
                    <form>
                        <div class="mb-2">
                          <label for="título" class="form-label">Título da postagem</label>
                          <input type="text" class="form-control" id="text" aria-describedby="text">
                        </div>
                        <div class="mb-2 justify-content-center">
                          <label for="conteudo" class="form-label">Conteudo da Postagem</label>
                          <input type="text" class="form-control" id="text">
                        </div>
                        <button type="submit" class="btn btn-secondary">Enviar!</button>
                    </form>      
                </div>
                
                <div class="row my-5 py-5 ic-menu">
                    <div class="d-flex justify-content-between ic-menu2">
                        <img id="foto-usuario" class="rounded-circle justify-content-"
                                src="https://image.freepik.com/vetores-gratis/ilustracao-de-usuario-avatar-icone_53876-5908.jpg"
                                alt="foto">
                        <h5>Nome do usuario</h5>
                        <h4>Nome da materia</h4>
                    </div>
                    <h1>titulo da postagem</h1>
                    <h2>Conteudo da postagem
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ex reiciendis consectetur, excepturi alias quod quis suscipit voluptatem nulla tenetur. Quo officiis cumque ipsum suscipit corrupti odio, nihil et accusantium!
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae corrupti quae sit laudantium molestias cumque harum aliquid animi dolor porro. Quasi odit libero architecto minus quia recusandae deleniti laudantium porro!
                    </h2>  
                </div>
                <div class="row my-5 py-5 ic-menu">
                    <div class="d-flex justify-content-between ic-menu2">
                        <img id="foto-usuario" class="rounded-circle justify-content-"
                                src="https://image.freepik.com/vetores-gratis/ilustracao-de-usuario-avatar-icone_53876-5908.jpg"
                                alt="foto">
                        <h5>Nome do usuario</h5>
                        <h4>Nome da materia</h4>
                    </div>
                    <h1>titulo da postagem</h1>
                    <h2>Conteudo da postagem</h2>  
                </div>
                <div class="row my-5 py-5 ic-menu">
                    <div class="d-flex justify-content-between ic-menu2">
                        <img id="foto-usuario" class="rounded-circle justify-content-"
                                src="https://image.freepik.com/vetores-gratis/ilustracao-de-usuario-avatar-icone_53876-5908.jpg"
                                alt="foto">
                        <h5>Nome do usuario</h5>
                        <h4>Nome da materia</h4>
                    </div>
                    <h1>titulo da postagem</h1>
                    <h2>Conteudo da postagem</h2>  
                </div>
            </div>
            
        </div>

    </div>

</div>
