#img-bg-qsn{

    background-image: url("https://c.wallhere.com/photos/71/f8/minimalism_artwork_space_vector_space_shuttle_launch_pads_spaceship_rocket-138506.jpg!d");

    min-height: 700px;

    background-size: cover;
    background-repeat: no-repeat;
    

    


}