
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid">

            <a class="navbar-brand fs-18 " routerLink='/inicio'> <img height="40px"
                    src="https://image.flaticon.com/icons/png/512/1055/1055646.png">Rocket </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav m-auto mb-2 mb-lg-0 d-flex align-items-center">
                    <li class="nav-item ps-2 m-auto">
                        <img id="foto-usuario" class="img-fluid rounded-circle"
                            src="{{foto}}"
                            alt="foto">
                    </li>
                    <li class="nav-item ps-2">
                        <p class="m-0 fs-16">{{nome}}<small *ngIf='!(isInstruitor)'>:{{serie}}ª</small></p>
                    </li>
                </ul>
                <!-- TEMPORARIO -->
                <button *ngIf='isInstruitor' class="btn bg-transparent" routerLink='/tema'>TEMA</button>
                <!-- /TEMPORARIO -->

                <ul class="navbar-nav me-4 mb-2 mb-lg-0 d-flex align-items-center">
                    <li class="nav-item dropdown me-2">
                        <a class="nav-link dropdown-toggle fs-16" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Opções
                        </a>
                        <ul class="dropdown-menu mt-2" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Editar conta</a></li>
                            <li><a (click)="sair()" class="dropdown-item">Sair</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item"routerLink="/sobrenos">Quem somos?</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>







    










