<div class="container-fluid">
    <div class="row d-flex align-items-center" id="img-bg-interior">
   
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-6">
                <div>
                    <h1 class="text-center fs-titulo mt-4">Atualizar matéria</h1>
                </div>

                <div class="row d-flex justify-content-center mt-4 mb-5 align-items-center">
                   <div class="col-md-5">
                        <div class="form-group">
                                <h3 class="fs-subtitulo text-center text-light fs-5">Editar nome da matéria</h3>
                                <input [(ngModel)]='tema.nome' type="text" class="form-control br-32" id="descricao"
                                placeholder="Digite o novo nome da matéria">
                        </div>
                   </div>
                   
    
                    <div class="col-md-3">
                        <div class="form-group">
                            <h3 class="fs-subtitulo text-center text-light fs-5">Editar série</h3>
                            <select name="serie" id="serie" class="form-select br-32" (change)='numeroSerie($event)'>
                                <!-- EXEMPLO SELECTED -->
                                <option [selected]="tema.serie == 1" value="1">1</option>
                                <option [selected]="tema.serie == 2" value="2">2</option>
                                <option [selected]="tema.serie == 3" value="3">3</option>
                                <option [selected]="tema.serie == 4" value="4">4</option>
                                <option [selected]="tema.serie == 5" value="5">5</option>
    
                            </select>
                        </div>
                    </div>
    
                </div>
                
                <div class="mt-3 d-flex justify-content-center">
                     <button class="btn btn-light br-32 btn-efeito mx-3" routerLink='/tema'>Cancelar</button>
                     <button class="btn btn-light br-32 btn-efeito" (click)='atualizar()'>Atualizar</button>
                </div>
            </div>
        </div>
        
    </div>
</div>