<div class="container-fluid">
    <h2 class="text-center fs-2 text-white pt-3 fw-bold mt-5">Nosso Time</h2>
    <div class="container pt-2 pb-5">
        <div class="row my-2 py-2">
            <div class="col-md-4  d-flex justify-content-center align-items-center">
                <figure class="avatar-hover">
                    <img src="https://avatars.githubusercontent.com/u/83592366?v=4" alt="" width="200px"
                        class="img-fluid rounded-circle border border-5">
                    <div class="overlay d-flex flex-column justify-content-center align-items-center text-white">
                        <h2>Ana Flávia</h2>
                        <p class="fs-3">
                            <a href="https://github.com/Anaflaviaportos" target="_blank">
                                <i class="fab fa-github-square pe-2"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/ana-flavia-porto-silva-neves-65b73069/"
                                target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </p>
                    </div>
                </figure>
            </div>

            <div class="col-md-4  d-flex justify-content-center align-items-center">
                <figure class="avatar-hover">
                    <img src="https://avatars.githubusercontent.com/u/26778407?" alt="" width="200px"
                        class="img-fluid rounded-circle border border-5">
                    <div class="overlay d-flex flex-column justify-content-center align-items-center text-white">
                        <h2>Alexandre</h2>
                        <p class="fs-3">
                            <a href="https://github.com/AlexandreSalerno" target="_blank">
                                <i class="fab fa-github-square pe-2"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/alexandre-salerno/" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </p>
                    </div>
                </figure>
            </div>


            <div class="col-md-4  d-flex justify-content-center align-items-center">
                <figure class="avatar-hover">
                    <img src="https://avatars.githubusercontent.com/u/79742110?v=4" alt="" width="200px"
                        class="img-fluid rounded-circle border border-5">
                    <div class="overlay d-flex flex-column justify-content-center align-items-center text-white">
                        <h2>Fernando</h2>
                        <p class="fs-3">
                            <a href="https://github.com/fconstancio" target="_blank">
                                <i class="fab fa-github-square pe-2"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/ferconstancio/" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </p>
                    </div>
                </figure>
            </div>
        </div>
        <div class="row my-2 py-2">
            <div class="col-md-4  d-flex justify-content-center align-items-center">
                <figure class="avatar-hover">
                    <img src="https://avatars.githubusercontent.com/u/82713240?v=4" alt="" width="200px"
                        class="img-fluid rounded-circle border border-5">
                    <div class="overlay d-flex flex-column justify-content-center align-items-center text-white">
                        <h2>Giovanna</h2>
                        <p class="fs-3">
                            <a href="https://github.com/GiovannaTorres" target="_blank">
                                <i class="fab fa-github-square pe-2"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/giovanna-torres-051b59212/" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </p>
                    </div>
                </figure>
            </div>

            <div class="col-md-4  d-flex justify-content-center align-items-center">
                <figure class="avatar-hover">
                    <img src="https://avatars.githubusercontent.com/u/83588714?v=4" alt="" width="200px"
                        class="img-fluid rounded-circle border border-5">
                    <div class="overlay d-flex flex-column justify-content-center align-items-center text-white">
                        <h2>Guilherme</h2>
                        <p class="fs-3">
                            <a href="https://github.com/Guilherme-mendesc" target="_blank">
                                <i class="fab fa-github-square pe-2"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/guilherme-mendes-a428481b0/" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </p>
                    </div>
                </figure>
            </div>


            <div class="col-md-4  d-flex justify-content-center align-items-center">
                <figure class="avatar-hover">
                    <img src="https://avatars.githubusercontent.com/u/82620439?v=4" alt="" width="200px"
                        class="img-fluid rounded-circle border border-5">
                    <div class="overlay d-flex flex-column justify-content-center align-items-center text-white">
                        <h2>José Luis</h2>
                        <p class="fs-3">
                            <a href="https://github.com/JoseLuisCorreia" target="_blank">
                                <i class="fab fa-github-square pe-2"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/joseluiscorreia/" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </p>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>