<div class="container-fluid">
    <h2 class="text-center fs-2 text-white pt-3 fw-bold mt-5">A Equipe</h2>
    <div class="container pt-2 pb-5">
        <div class="row my-2 py-2">
            <div class="col-md-4  d-flex justify-content-center align-items-center">
                <figure class="avatar-hover">
                    <img src="https://avatars.githubusercontent.com/u/83592366?v=4" alt="" width="200px"
                        class="img-fluid rounded-circle border border-5">
                    <div class="overlay d-flex flex-column justify-content-center align-items-center text-white">
                        <h2>Ana Flávia</h2>
                        <p class="fs-3">
                            <a href="https://github.com/Anaflaviaportos" target="_blank">
                                <i class="fab fa-github-square pe-2"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/ana-flavia-porto-silva-neves-65b73069/"
                                target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </p>
                    </div>
                </figure>
            </div>

            <div class="col-md-4  d-flex justify-content-center align-items-center">
                <figure class="avatar-hover">
                    <img src="https://avatars.githubusercontent.com/u/26778407?" alt="" width="200px"
                        class="img-fluid rounded-circle border border-5">
                    <div class="overlay d-flex flex-column justify-content-center align-items-center text-white">
                        <h2>Alexandre</h2>
                        <p class="fs-3">
                            <a href="https://github.com/AlexandreSalerno" target="_blank">
                                <i class="fab fa-github-square pe-2"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/alexandre-salerno/" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </p>
                    </div>
                </figure>
            </div>


            <div class="col-md-4  d-flex justify-content-center align-items-center">
                <figure class="avatar-hover">
                    <img src="https://avatars.githubusercontent.com/u/79742110?v=4" alt="" width="200px"
                        class="img-fluid rounded-circle border border-5">
                    <div class="overlay d-flex flex-column justify-content-center align-items-center text-white">
                        <h2>Fernando</h2>
                        <p class="fs-3">
                            <a href="https://github.com/fconstancio" target="_blank">
                                <i class="fab fa-github-square pe-2"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/ferconstancio/" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </p>
                    </div>
                </figure>
            </div>
        </div>
        <div class="row my-2 py-2">
            <div class="col-md-4  d-flex justify-content-center align-items-center">
                <figure class="avatar-hover">
                    <img src="https://avatars.githubusercontent.com/u/82713240?v=4" alt="" width="200px"
                        class="img-fluid rounded-circle border border-5">
                    <div class="overlay d-flex flex-column justify-content-center align-items-center text-white">
                        <h2>Giovanna</h2>
                        <p class="fs-3">
                            <a href="https://github.com/GiovannaTorres" target="_blank">
                                <i class="fab fa-github-square pe-2"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/giovanna-torres-051b59212/" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </p>
                    </div>
                </figure>
            </div>

            <div class="col-md-4  d-flex justify-content-center align-items-center">
                <figure class="avatar-hover">
                    <img src="https://avatars.githubusercontent.com/u/83588714?v=4" alt="" width="200px"
                        class="img-fluid rounded-circle border border-5">
                    <div class="overlay d-flex flex-column justify-content-center align-items-center text-white">
                        <h2>Guilherme</h2>
                        <p class="fs-3">
                            <a href="https://github.com/Guilherme-mendesc" target="_blank">
                                <i class="fab fa-github-square pe-2"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/guilherme-mendes-a428481b0/" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </p>
                    </div>
                </figure>
            </div>


            <div class="col-md-4  d-flex justify-content-center align-items-center">
                <figure class="avatar-hover">
                    <img src="https://avatars.githubusercontent.com/u/82620439?v=4" alt="" width="200px"
                        class="img-fluid rounded-circle border border-5">
                    <div class="overlay d-flex flex-column justify-content-center align-items-center text-white">
                        <h2>José Luis</h2>
                        <p class="fs-3">
                            <a href="https://github.com/JoseLuisCorreia" target="_blank">
                                <i class="fab fa-github-square pe-2"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/joseluiscorreia/" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </p>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>




<!--Ferramentas utilizadas-->

<div class="container-fluid">

    <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-9 mt-5">
            <h2 class="text-center fw-bold text-white">Ferramentas</h2>
        </div>
    </div>



    <div class="row d-flex justify-content-center mx-5">
        <p class="mt-5 fs-5 text-white text-center">Front end</p>


        <div class="col-md-1 mt-3 p-2">
                <img class="" src="https://i.imgur.com/moP5PYf.png" alt="HTML" width="90px">
        </div>

        <div class="col-md-1 mt-3 p-2">
            <img class="" src="https://i.imgur.com/SeXrhio.png" alt="CSS" width="90px">
        </div>

        <div class="col-md-1 mt-3 p-2">
            <img class="" src="https://i.imgur.com/h0KsLyt.png" alt="JavaScript" width="90px">
        </div>

        <div class="col-md-1 mt-3 p-2">
            <img class="" src="https://i.imgur.com/h6pfNG3.png" alt="TypeScript" width="90px">
        </div>

        <div class="col-md-1 mt-3 p-2">
            <img class="" src="https://i.imgur.com/VAJ6mtr.png" alt="Angular" width="90px">
        </div>

        <div class="col-md-1 mt-3 p-2">
            <img class="" src="https://i.imgur.com/flStG5D.png" alt="Bootstrap" width="110px">
        </div>

    </div>


    <div class="row d-flex justify-content-center py-5 mx-5">


        <div class="col-md-3">
            <p class="mt-5 fs-5 text-white text-center">Back end</p>
            <img class="" src="https://i.imgur.com/4dQHn3V.png" alt="Java" width="120px">
            <img class="" src="https://i.imgur.com/ZGwKVkO.png" alt="SpringBoot" width="120px">

        </div>

        <div class="col-md-2">
            <p class="mt-5 fs-5 text-white">Banco de Dados</p>
            <img class="" src="https://i.imgur.com/vVXUELy.png" alt="MySQL" width="110px">

        </div>


        <div class="col-md-3">
            <p class="mt-5 fs-5 text-white text-center">Apoio</p>
            <img class="p-2" src="https://i.imgur.com/xWLLfv9.png" alt="GitHub" width="90px">
            <img class="p-2" src="https://i.imgur.com/fKGKN5H.png" alt="Git" width="90px">
            <img class="p-2" src="https://i.imgur.com/boNuIe0.png" alt="Swagger" width="90px">

            <img class="p-2" src="https://i.imgur.com/OlNbvtw.png" alt="Trello" width="90px">
            <img class="p-2" src="https://i.imgur.com/lsKpSrf.png" alt="Discord" width="90px">
            <img class="p-2" src="https://i.imgur.com/KyVsbeb.png" alt="Freepik" width="90px">


        </div>



    </div>


</div>