.navbar1{
    background-color: rgba(77, 106, 184, 0.178)!important;
}

.contorno {
    font-family: Helvetica;
    color: #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.315);
}

a{
    text-decoration: none;
}
