#img-bg-interior{
    background: rgb(124,154,154);
    background: linear-gradient(0deg, rgba(124,154,154,1) 0%, rgba(88,106,121,1) 76%);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


.br-32 {
    border-radius: 32px;
}

.btn-efeito{
    color: white;
    background-color: rgba(255, 255, 255, 0.37);;

    border-radius: 32px;
    border: 1px solid white;
}
.btn-efeito:hover{
    color: rgb(2, 0, 34);
    background-color: white;

    -webkit-box-shadow: 0px 0px 50px 10px rgba(218,166,255,0.28); 
    box-shadow: 0px 0px 50px 10px rgba(218,166,255,0.28);
}

.bg-light {
    background-color: rgba(255, 255, 255, 0.644)!important;
}

.bt-ed-2{
    background:#FE3745;
    font-weight: bold;
    color:#B7092B;
    font-size: medium;
    border-radius: 32px;
    border: 1px solid gray;
}
.bt-ed-2:hover{
    color: rgb(2, 0, 34);
    background-color: white;

    -webkit-box-shadow: 0px 0px 50px 10px rgba(218,166,255,0.28); 
    box-shadow: 0px 0px 50px 10px rgba(218,166,255,0.28);
}

.bt-ed-1{
    background: #0D6E99;
    font-weight: bold;
    color:#1A2B63;
    font-size: medium;
    border-radius: 32px;
    border: 1px solid gray;
}
.bt-ed-1:hover{
    color: rgb(2, 0, 34);
    background-color: white;

    -webkit-box-shadow: 0px 0px 50px 10px rgba(218,166,255,0.28); 
    box-shadow: 0px 0px 50px 10px rgba(218,166,255,0.28);
}
