
<div class="container-fluid">
   
    <div class="row d-flex align-items-center" id="img-bg-interior">
        
        <div class="col-md-12">

            <div class="row d-flex justify-content-center">     
                <div class="p-3 mt-7">
                    <H1> BEM VINDO(A) A SUA ÁREA DE TRABALHO:</H1>
                </div>
                <div class="col-md-3 ic-menu d-flex justify-content-center mb-4">

                    <div class="btn-group-vertical btn-toolbar justify-content-between">

                        <div class=" p-2">
                            
                            <button type="submit "  class="btn bt-ed-5 mt-5" > <a href="https://calendar.google.com/calendar/u/0/r?tab=rc" target="_blank" >Agenda</a></button>
                        </div>

                        
                        <div class="p-2">
                            
                            <button type="button" class="btn bt-ed-5"><a href="https://trello.com/b/LuYmAYkV/projeto-rocket" target="_blank"  >Tarefas</a></button>
                        </div>

                        <div class="p-2">
                            <button type="button" class="btn bt-ed-5" routerLink='/tema'>Cadastrar Matéria</button>
                        </div>

                        <div class="p-2 pb-5">
                            
                            <button type="button" class="btn bt-ed-5" routerLink='/postagens'>Ver Postagens</button>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>








