<app-navbar *ngIf='auth.logado()'></app-navbar>

<div class="container-fluid">
   
    <div class="row d-flex align-items-center" id="img-bg-teste">
        
        <div class="col-md-12">

            <div class="row d-flex justify-content-center">

                <div class="col-md-3 ic-menu d-flex justify-content-center">

                    <div class="btn-group-vertical d-flex ">
                        <div class="w-auto p-3">
                            <button type="button" class="btn bt-ed-1">MATEMÁTICA</button>
                        </div>
                        <div class="w-auto p-3">
                            <button type="button" class="btn bt-ed-2">PORTUGUÊS</button>
                        </div>
                        <div class="w-auto p-3">
                            <button type="button" class="btn bt-ed-3">HISTÓRIA</button>
                        </div>
                        <div class="w-auto p-3">
                            <button type="button" class="btn bt-ed-4">GEOGRAFIA</button>
                        </div>
                        <div class="w-auto p-3 ">
                            <button type="button" class="btn bt-ed-5">CIÊNCIAS</button>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<app-footer *ngIf='auth.logado()'></app-footer>