#img-bg-interior{
    background-image: url('https://i.imgur.com/QstDdjo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

button{
    width: 200px;
    height: 50px;
    justify-content: center;
}

.ic-menu{
    border-radius: 32px;
    background-color: rgba(255, 255, 255, 0.71)!important;    
}

h1{
    text-align:center;
    color:white;
    font-size: 26px;
    font-weight: bold;
    text-decoration:none !important;
    text-shadow: 0 0 4px rgb(43, 26, 196), 0 0 26px rgb(48, 23, 185);

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #69CDFF;
}

.bt-ed-1{
    background: #0D6E99;
    font-weight: bold;
    color:#1A2B63;
    font-size: large;
    border-radius: 32px;
    border: 1px solid gray;
}
.bt-ed-1:hover{
    color: #0D6E99;
    background-color: #1A2B63;

    -webkit-box-shadow: 0px 0px 50px 10px #0D6E99; 
    box-shadow: 0px 0px 50px 10px #0D6E99;
}

.bt-ed-2{
    background:#FE3745;
    font-weight: bold;
    color:#B7092B;
    font-size: large;
    border-radius: 32px;
    border: 1px solid gray;
}
.bt-ed-2:hover{
    color: #FE3745;
    background-color: #B7092B;

    -webkit-box-shadow: 0px 0px 50px 10px #FE3745; 
    box-shadow: 0px 0px 50px 10px #FE3745;
}
.bt-ed-3{
    background:#FFD00D;
    font-weight: bold;
    color:#997c0a;
    font-size:large ;
    border-radius: 32px;
    border: 1px solid gray;
}
.bt-ed-3:hover{
    color: #FFD00D;
    background-color: #997c0a;

    -webkit-box-shadow: 0px 0px 50px 10px #FFD00D; 
    box-shadow: 0px 0px 50px 10px #FFD00D;
}
.bt-ed-4{
    background:#FF9518;
    font-weight: bold;
    color:#b15f02;
    font-size: large;
    border-radius: 32px;
    border: 1px solid gray;
}
.bt-ed-4:hover{
    color: #FF9518;
    background-color: #b15f02;

    -webkit-box-shadow: 0px 0px 50px 10px #FF9518; 
    box-shadow: 0px 0px 50px 10px #FF9518;
}
.bt-ed-5{
    background:#69CDFF;
    font-weight: bold;
    color:#0D6E99;
    font-size: large;
    border-radius: 32px;
    border: 1px solid gray;

}

.bt-ed-5:hover{
    color: #69CDFF;
    background-color: #0D6E99;

    -webkit-box-shadow: 0px 0px 50px 10px gray; 
    box-shadow: 0px 0px 50px 10px #69CDFF;
}


.mt-7{
    margin-top: 7rem;

}

a{
    text-decoration:none
}

a:hover{
    text-decoration:none
}

