#img-bg-interior{
    background: rgb(124,154,154);
    background: linear-gradient(0deg, rgba(124,154,154,1) 0%, rgba(88,106,121,1) 76%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.br-32 {
    border-radius: 32px;
}

.btn-efeito{
    color: white;
    background-color: rgba(255, 255, 255, 0.37);;

    border-radius: 32px;
    border: 1px solid white;
}
.btn-efeito:hover{
    color: rgb(2, 0, 34);
    background-color: white;

    -webkit-box-shadow: 0px 0px 50px 10px rgba(218,166,255,0.28); 
    box-shadow: 0px 0px 50px 10px rgba(218,166,255,0.28);
}

.ic-menu{
    background-color: rgba(255, 255, 255, 0.71)!important;    
}

